---
title: "Calendrier"
header-includes:
  - <script data-goatcounter="https://ofb-idf.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
---

```{r, include=FALSE}
nombre_suivis <- FichesSRC::charger_suivis("<%=metadata%>")  |>
    dplyr::filter(publiable == "oui") |>
    nrow()
calendrier <- FichesSRC::creer_calendrier_global("<%=metadata%>")
```

```{r, echo=FALSE, fig.height=(nombre_suivis)}
calendrier
```
